@font-face {
  font-family: bebas-neue;
  src: url('../assets/fonts/BebasNeue-Regular.ttf') format("truetype"),
     url('../assets/fonts/BebasNeue-Regular.otf') format("opentype"),
     url('../assets/fonts/BebasNeue-Regular.eot') format("embedded-opentype"),
     url('../assets/fonts/BebasNeue-Regular.woff') format("woff"),
     url('../assets/fonts/BebasNeue-Regular.woff2') format("woff2");
}

:root{
  --light: #ebfaf4;
  --black: #314455;
  --dark: #3c423e;
  --contrast: #fcb04c;
  --blue: #38b0f5;
  --green: #31f791;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;

}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
    user-select: none;
    background: var(--light);
}

canvas {
  margin: 0 auto;
  display: block;
}

.logo{
  left: 50px;
}

.navbar-brand{
  font-family: 'bebas-neue';
  color: white;  
  font-weight: 600;
  font-size: 30px;
}

.navbar{
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to right, var(--green), var(--blue));
}

.navbar-toggler:focus{
  box-shadow: none;
}

.nav-item a{
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: 0.4s;
  padding: 8px 16px;
  border-radius: 99px;
}

.nav-item a.is-active, .nav-item a:hover{
  background-color: white;
}

footer {
  background: linear-gradient(0deg, var(--blue), var(--green));
  height: auto;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: var(--red);
}

.footer-content p{
  max-width: 80%;
  margin: 10px auto;
  font-size: 14px;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials li{
  margin-left: -30px;
  font-size: 40px;
}

.socials a{
  text-decoration: none;
  color: var(--red);
}

.socials a i{
  font-size: 1.1rem;
}

.socials a:hover i{
  font-size: 1.3rem;
  transition: .4s ease;
}