@font-face {
  font-family: 'ChemFont';
  src: url(fonts/ChemFont.ttf);
}

@font-face {
  font-family: 'ChalkFont';
  src: url(fonts/ChalkFont.ttf);
}

:root{
  --light: #f7faf9;
  --black: #314455;
  --dark: #3c423e;
  --contrast: #fcb04c;
  --blue: #38b0f5;
  --green: #31f791;
  --mint: #cdf7e2;
  --dark-mint: #a1e6c5;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;

}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
    background: var(--light);
}

canvas {
  margin: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo{
  left: 50px;
}

.navbar-brand{
  font-family: 'bebas-neue';
  color: white;  
  font-weight: 600;
  font-size: 30px;
}

.navbar{
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to right, var(--green), var(--blue));
}

.navbar-toggler:focus{
  box-shadow: none;
}

.nav-item a{
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: 0.4s;
  padding: 8px 16px;
  border-radius: 99px;
  right: 50px;
}

.nav-item a.is-active, .nav-item a:hover{
  background-color: white;
}

footer {
  background: linear-gradient(0deg, var(--blue), var(--green));
  height: auto;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

.footer-content{
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.footer-content p{
  max-width: 80%;
  margin: 10px auto;
  font-size: 14px;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials li{
  margin-left: -30px;
  font-size: 40px;
}

.socials a{
  text-decoration: none;
  color: var(--red);
}

.socials a i{
  font-size: 1.7rem;
  color: #4a4a4a;
  transition: .6s ease;
}

.socials a:hover i{
  color: black;
  transition: .6s ease;
}


.module-list{
  height:80%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2%;
  padding: 2% 5% 2% 10%;
  background-color: var(--green);
}

.module{
  display: grid;
  width: 23vw;
  height: 45vh;
  grid-template-rows: 2fr 1fr;
  background-color: var(--mint);
  text-align: center;
  border-radius: 25px;
  transition: .6s ease;
}



.module-text {
    text-decoration: underline var(--mint);
    color: black;
    font-size: 4.3vh;
    transition: .6s ease;
}


.module-image img{
  width: 23vw;
  height: 33vh;
  border-radius: 25px 25px 0px 0px;
  transition: .6s ease;
}


.main-container {
  margin: auto;
  padding: 5%;
}

.intro-text{
  font-family: 'ChemFont';
  text-align: center;
  font-size: 8vw;
  line-height: 80%;
  padding: 5%;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 5vw;
  width: auto;

  background: var(--green);
  color: yellow;
}


.module:hover{
  background: var(--dark-mint);
  transition: .6s ease;
}

.module:hover .module-text{
  text-decoration: underline var(--dark-mint);
  transition: .6s ease;
}

.module:hover .module-image{
  filter: brightness(0.9);
  transition: .6s ease;
}

#about-content {
  height: auto;
  color: black;
  margin: 5px;
  text-align: center;
  padding-bottom: 0%;
  padding-top: 0%;
}

#about-title {
  margin-top: 130px;
}

#about-text {
  width: 650px;
  display: inline-block
}

.profile {
    border-color: #1f3a67ff;
    border-style: solid;
    border-width: 20px;
    overflow: hidden;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    transition-duration: .3s;
  }

.profile:hover {
  height: 260px;
  width: 260px;
}

.profile-pic {
  height: 100%;
  width: 100%;
}

.team-grid-container {
  display: inline-grid;
  grid-template-columns: 30vw 30vw ;
}

.bio {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}